<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOyiiYGTmfncFcdAbJhx5tjR7jfr7B26Q</string>
	<key>GCM_SENDER_ID</key>
	<string>407116440944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpfinder.ng</string>
	<key>PROJECT_ID</key>
	<string>fit-me-0icfds</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-me-0icfds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407116440944:ios:b89dac8d24d039c3649bb5</string>
</dict>
</plist>